.btn__group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}
.btn__Debris {
    margin: 0 30px 30px 30px;
    display: block;
}
.btn__button {
    text-decoration: none;
    display: block;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    color: #fff;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 3rem 1rem 3rem;
    text-transform: uppercase;
    font-size: 1.5em;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 5px hsl(45, 19%, 60%), 0 0 0 10px hsl(117, 33%, 79%);
    transition: all 2s ease;
}
.btn__span{
    position: absolute;
    content: '';
    top: 1.75em;
    left: 50%;
    width: 20em;
    height: 20em;
    margin-left: -10em;
    border-radius: 42.5%;
    transform-origin: 50% 50%;
    transition: all 1s ease, top 1.5s ease;
}
.Coralwave1 {
    background: #ffb733;
    animation: smallwave 3s infinite linear;
}
.Coralwave2 {
    background: #f97890;
    animation: smallwave 4s infinite linear;
}
.Coralwave3 {
    background: #4ab3e1;
    animation: smallwave 5s infinite linear;
}
.btn__button:hover .btn__span {
    top: 0.5em;
    transition: all 1s ease, top 1.5s ease;
}
@keyframes wave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.8;
    }
}
@keyframes smallwave {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.8;
    }

    50% {
        transform: rotate(180deg) scale(0.95);
        opacity: 0.25;
    }

    100% {
        transform: rotate(360deg) scale(1);
        opacity: 0.6;
    }
}